@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#banner-top{
    width: 100%;
    height: 200px;
}
.avatar{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 20px;
    outline: 20px;
    outline-color: red;
}
.skills-section{
    width: 100%;
    height: 800px;
    background-color: rgb(94, 11, 178);
}

#skills{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#frontend{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}
.giphy-frontend{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   

}